.sudokuContainer{
    max-width: 80%;
}
.row{

}

.input{
    width: 3vw;
    height: 3vw;
    font-size: 2vw;
    text-align: center;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}