@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root{
  /*blueandpink*/
  --Teal1: #2aa3ae;
  --DarkTeal1:#13464b;
  --LightGreen1: #d9e5d6;
  --Yellow1: #ede2b5;
  --LightOrange1: #ff7d38;
  --BrightOrange1: #ff9b42;
  /*greens*/
  --DarkGreen2: #2b463c;
  --NotSoDarkGreen2: #688f4e;
  --LightGreen2: #b1d182;
  --White2: #f4f1e9;

  /*pinks*/
  --Fucsia3: #9d234c;
  --LightPink3: #f1d6de;
  --PinkChicle3: #ec6091;
  --LightBlue3: #9ae1e2;
  --DarkBlue3: #16a5a3;
  --Cream3: #fedcbe;


  --font: 'Open Sans', sans-serif;

}


.sudokuContainer{
    max-width: 100%;
    
}


input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
 
}
