@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root{
  /*blueandpink*/
  --LightBlue1: #aee4ff;
  --Lavender1: #6a9cfd;
  --Pink1: #ffb8d0;
  --Cream1: #fee5e1;
  --DarkBlue1: #033495;

  /*greens*/
  --DarkGreen2: #2b463c;
  --NotSoDarkGreen2: #688f4e;
  --LightGreen2: #b1d182;
  --White2: #f4f1e9;

  /*pinks*/
  --Lila3: #c2c3f3;
  --LightMagenta3: #c9b8da;
  --Pink3: #edc4d6;
  --Cream3: #ffeae5;
}


.sudokuContainer{
    max-width: 100%;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
 
}
