.inputContainer{
    display: inline-block;
    border: 2px solid black;
    height: 3vw;
    width: 3vw;
    vertical-align: top;
}
.input{
    font-size: 2vw;
    margin: 0
}
.selected{
    background-color: red;
}