.sudokuContainer{
  max-width: 100%;
  margin-top: 10%;
}

.howToButton{
  width: 30%;
  padding: 0.6%;
  border-radius: 5px;
  box-shadow: 1px 1px;
  background-image: var(--buttonBackground);
  font-size: 5vw;
  color: var(--Darkest);
  transition: 0.5s;
  border: none;
  margin-top: 10%;
}
.howToButton:hover {
  box-shadow: 0.3vw 0.5vw var(--Darkest) ;
  filter:brightness(110%)
}
.title{
  font-size: 6vw;
  color: var(--Darkest);
  
}
.smallTitle{
  font-size: 6vw;
  font-weight: 400;
  color: var(--Darkest);
}
.buttonContainer{
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: auto;
}
.levelButton{
  width: 100%;
  margin-bottom: 5%;
  margin-top: 15%;
  padding: 2%;
  border-radius: 5px;
  box-shadow: 1px 1px;
  background-image: var(--buttonBackground);
  font-size: 5vw;
  color: var(--Darkest);
  transition: 0.5s;
  border: none;
}
.levelButton:hover {
  box-shadow: 0.3vw 0.5vw var(--Darkest) ;
  filter:brightness(110%)
}
.button{ 
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 7%;
  display: block; 
  font-size: 4.5vw;
  cursor: pointer;
  padding: 0.5vw;
  font-family: var(--font);
  border-radius: 5px;
  color: var(--Darkest);
  border: none;
  box-shadow: 1px 1px;
  background-image: var(--buttonBackground);
  transition: 0.5s;
  color: var(--Darkest);
  
 
  
}
.button:hover {
  box-shadow: 1vw 1vw var(--Darkest) ;
  filter:brightness(110%)
}
.buttonSelectTeal{
  margin: 4%;
  height: 7vw;
  width: 7vw;
  background-image: var(--backgroundInputBlue);
  cursor: pointer;
  border: none;
  box-shadow: 1px 1px;
  border-radius: 5px;
  transition: 0.5s;
}
.buttonSelectTeal:hover {
  box-shadow: 0.3vw 0.5vw var(--Darkest) ;
  filter:brightness(110%)
}

.buttonSelectPink{
  height: 7vw;
  width: 7vw;
  background-image: var(--backgroundInputPink);
  cursor: pointer;
  border: none;
  box-shadow: 1px 1px;
  border-radius: 5px;
  transition: 0.5s;

}
.buttonSelectPink:hover {
  box-shadow: 0.3vw 0.5vw var(--Darkest);
  filter:brightness(110%)
}
.buttonSelectGreen{
  height: 7vw;
  width: 7vw;
  background-image: var(--backgroundInputGreen);
  cursor: pointer;
  border: none;
  box-shadow: 1px 1px;
  border-radius: 5px;
  transition: 0.5s;
 
}

.buttonSelectGreen:hover{
  box-shadow: 0.3vw 0.5vw var(--Darkest);
  filter:brightness(110%)
}

.input{
    width: 3vw;
    height: 3vw;
    font-size: 2vw;
    text-align: center;
}
.fixedInput{
  width: 3vw;
    height: 3vw;
    font-size: 2vw;
    text-align: center;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}